body{
    margin: 0 0;
    background-color: beige;
}
h1{ 
    font-size:  'Cookie', cursive;
    font-size: 3em;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.header h1 {
    margin: 0;
    background-image: url("/images/apple-pie.jpg");
    position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}
.header p{
    text-align: center;
    margin: 35px auto; 
    width: 60%;
    font-size: 1.5em;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 50px;
    padding-bottom: 25px;
}
hr{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: solid 1px;
}
h3{
    font-size: 1.5em;
    padding-left: 15%;
}
#container-1 ul{
    font-size: 1.3em;
    padding-left: 20%;
    padding-top: 5px;
    list-style-type:square;
}
#container-1 .img1{
    padding-top: 10px;
}
#container-2 ul{
    font-size: 1.3em;
    padding-left: 20%;
    padding-top: 5px;
    padding-right: 20%;
    list-style-type:decimal;
    
}